
.header {
    display: inline;
    width: 100%;
    height: 20%;
    background-color: #557A95;

    position: static;
    top: 0;
    left: 0;
}

.header-title {
    color: orange;
    width: 100%;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.solve-button {
    height: 4vw;
    width: 10vw; 
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    /*padding: 20px;*/
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 1vw;
    margin: 5px;
    cursor: pointer;
}
  
.solve-button:hover {
    /*color: #404040 !important;*/
    font-weight: 700 !important;
    letter-spacing: 2px;
    /*background: none;*/
    transition: all 0.3s ease 0s;
    font-size: 1.2vw;
}

.clear-button {
    width: 10vw;
}




.dropdown-container {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.dropdown {
    background-color: #404040;
    border-radius: 3px;
    position: absolute;
    width: 13vw;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    left: 0.4vw;

    transition: all 1s ease 1s;
}

.dropdown-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-li {
    font-size: 1.2w;
    color: white;
    padding: 8px 12px;
}

.dropdown-li:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}




.toggle-container {
    height: 4vw;
    width: 8vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    bottom: 2vw;
}

.toggle-bar {
    display: inline-block;
    width: 7vw;
    background-color: #c4c4c4;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
    height: 2vw;
    position: relative;
    margin-left: 1vw;
    top: 1vw;
    bottom: 1vw;
    margin-bottom: 0.25vw;
}

.dialog-button {
    display: inline-block;
    font-size: 1vw;
    line-height: 1vw;
    height: 2vw;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(12, 53, 71);
    color: white;
    padding: 8px 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    min-width: unset;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 2vw;
    /* bottom: -9px; */
    transition: all 0.3s ease;
}

.disabled {
    /* background-color: rgb(62, 39, 190); */
    background-color: rgb(66, 9, 99);
    left: 0;
}