
.intro-container {
    background-color: #FBEEC1;
    color: black; /* #BC986A */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 0 0;
    transform: translate(-50%, -50%);
    font-size: 1vw;
    z-index: 10;

    margin-top: 0vw;
    margin-bottom: 10vw;
    height: 45vw;
    
    box-shadow: 0 0 10px 0 black;

    /* overflow-x: scroll;
    overflow-y: scroll; */
}

.intro {
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    padding: 0 3vw;
}

.intro p {
    font-size: 22px;
}

.close {
    border: none;
    background-color: #FBEEC1;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
}

/* .instruction-set {
    padding-left: 0vw;
} */

.instruction-set li {
    transform: translate(1vw);
    padding-left: 1vw;
    padding-bottom: 5px;
    color: black;
    font-size: 22px;
    text-align: left;
}
